
@using Vidly.Models
@model Vidly.ViewModels.NewMovieViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(l => l.Name)
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.ReleaseDate)
        @Html.TextBoxFor(t => t.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.NumberInStock)
        @Html.TextBoxFor(l => l.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.NumberInStock)
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.GenreId)
        @Html.DropDownListFor(t => t.GenreId, new SelectList(Model.Genres, "Id", "GenreName"), "Select genre", new {@class = "form-control"})
        @Html.ValidationMessageFor(g => g.GenreId)
    </div>
    <!--Make sure that we have a movie Id or we'll get an error
        Beware of Magic String - alternative is in Movie.cs -->
    @Html.HiddenFor(t => t.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-primary">
        Save
    </button>

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
