@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "Save new customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New customer</h2>
@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true,"Please fix the errors below.")
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(a => a.Customer.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "MembershipName"), "Select membership type", new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthday)
        @Html.TextBoxFor(a => a.Customer.Birthday,"{0:d MMM yyyy}", new {@class = "form-control"})
        @Html.ValidationMessageFor(e => e.Customer.Birthday)
    </div>

    
    
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Is subscribed to NewsLetter?
        </label>
    </div>
    @Html.HiddenFor(c => c.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">
        Save
    </button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
