@model Vidly.Models.Customer

@{
    ViewBag.Title = "Create new customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New customer</h2>
@using(Html.BeginForm("Create","Customers"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(a => a.Name,new{@class="form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Birthday)
            @Html.TextBoxFor(a => a.Birthday, new{@class="form-control"})
        </div>
        
        <div class="checkbox">
            <label>
              @Html.CheckBoxFor(m => m.IsSubscribedToNewsLetter) Is subscribed to NewsLetter?
            </label>
        </div>

    }